<app-nav></app-nav>
<div class="container d-flex flex-nowrap justify-content-center ">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-0">

      <div class="container-img-text">
        <img  class="img"  [src]="src">
        <div class="img-text text-white fw-light">
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias doloremque optio rem voluptatum aliquam debitis ratione eos ipsum. Quisquam praesentium hic eos numquam magnam doloremque consequuntur harum sit id.
           </p>
        </div>

      </div>

    </div>

    <div class="col p-0">
      <img class="img" [src]="src2">
    </div>
  </div>


</div>
