.container-img-text{
  position: relative;
  display: inline-block;
}
.img {
  object-fit: cover;
  width:400px;
  height:400px;
}



.img-text{
  position: absolute;
  bottom: 0;           
  right: 1rem;
}
