/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); //fuentes de Google Font


*{
  font-family: 'Lato', sans-serif;
}

p{
  font-size: small;
  font-weight: lighter;
}
